@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: "Poppins",  sans-serif;
}

nav{
    margin: 0;
    height: 15vh;
    backdrop-filter: blur(10px);
    display: flex;  
    flex-direction: row;
    width: 100%;
    align-items: center; 

}

a{
    text-decoration: none;
}

.image-landing{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo a{
    color: #eee7e7;
    font-weight: bold;
    font-size: 1.7em;
    padding: 6px 10px; 
    margin: 0 15px;
    position: relative;
    transition: 0.5s;
}

.logo-border span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    border-bottom: 5px solid rgba(151, 46, 212, 0.392);
    border-left: 5px solid rgba(151, 46, 212, 0.392);
    border-radius: 1px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}


.logo-border:hover{
    color: rgba(182, 130, 212, 0.945);
    transform: scale(1.1, 1.1);
}

.logo-border:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
    
}

.caption{
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
}

.caption span.border{
    background-color: #523961;
    color: #fff;
    padding: 15px;
    font-size: large;
    letter-spacing: 10px;
}
.caption:hover{
    background-color: #fff;
    border-color: #523961;
    color: #523961;
    font-weight: bold;
}

span.border:hover{
    background-color: #fff;
    border-color: #523961;
    color: #523961;
    font-weight: bold;
}

.info-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
   
}

.btn-hover{
    display: inline-block;
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: #eee7e7;
    text-decoration: none;
    padding: 6px 10px; 
    margin: 0 15px;
    transition: .5s;
}

.btn-hover:nth-child(5){
    margin-right: 25px;
}

.btn-hover:hover{
    color: rgba(223, 238, 233, 0.904);
    transform: scale(1.1, 1.1);
}

.info-nav:hover > .btn-hover:not(:hover) {
    filter: blur(1px);
    transform: scale(0.9, 0.9);
  }

.btn-hover span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid rgba(0, 238, 255, 0.392);
    border-radius: 1px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}


.btn-hover:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.info-principal{
    height: 50vh;
    opacity: 0.1;
}


.info{
    /* position: relative; */
    margin: 25px 35px;
}

.div-grid{
    display: grid;
    grid-template-columns: 30% auto;
    column-gap: 20px;
}

.container-left{
    width: 100%;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;


}

.container-left h1{
    font-size: 1.2em;
}

.container-left-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.5s;
    border-radius: 10px;
    background: rgba(194, 189, 189, 0.384);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    word-break: break-word;
    line-break: normal;
    hyphens: auto;
    overflow-wrap: break-word;
}


.container-left-info:hover{
    transform: scale(1.05,1.05);
}

.container-left-info img{
    width: 100%;
    border-radius: 10px;
}

.container-left-info h2{
    margin-top: 2px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1em;
}

.container-left-info p{
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.8em;
}
